<a href="https://colab.research.google.com/github/prabhasg5/python-lab/blob/main/program%201(week1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name=input("enter student  name");
roll=input("enter student roll no");
classroom=input("enter student class");
sec=input("enter student section");
m1=input("enter student marks");
m2=input("enter student marks");
m3=input("enter student marks");
m4=input("enter student marks");
m5=input("enter student marks");
total=int(m1)+int(m2)+int(m3)+int(m4)+int(m5);
avg=total/5;
print("student name: ",name);
print("student roll no: ",roll);
print("student class: ",classroom);
print("student section: ",sec);
print("student marks: ",m1);
print("student marks: ",m2);
print("student marks: ",m3);
print("student marks: ",m4);
print("student marks: ",m5);
print("total marks: ",total);
print("average marks: ",avg);

enter student  name prabhas
enter student roll no  g5
enter student class it 2nd year
enter student section IT 3
enter student marks 80
enter student marks 60
enter student marks 90
enter student marks 70
enter student marks 90
student name:   prabhas
student roll no:    g5
student class:   it 2nd year
student section:   IT 3
student marks:   80
student marks:   60
student marks:   90
student marks:   70
student marks:   90
total marks:  390
average marks:  78.0

In [14]:
"""Program1:
a) Demonstrate about Basics of Python Programming.
b) Demonstrate about fundamental Data types in Python Programming. (i.e., int, float, complex, bool and string types)
c) Demonstrate the working of following functions in Python.
 i) type( ) iii) range( )
d) Write a Python program to demonstrate various type conversion functions."""

#a)
print("hello World");
print("welcome to python programming")
a, b=map(float,input("enter 2 integers:").split())
add=(a+b)
sub=(a-b)
mul=(a*b)
div=(a/b)
print("add",add,"\nsub",sub,"\nmul",mul,"\ndiv",div)

hello World
welcome to python programming
enter 2 integers:4 5
add 9.0
sub -1.0
mul 20.0
div 0.8

In [24]:
#b)
i=int(input("enter an integer"))
print(i);
f=float(input("enter a float value"))
print(f);
a=5+7j;
print(a.real);
print(a.imag);
b= True;
c= False;
print(b);
print(c);
s=str(input("enter string"))
print(s);

enter an integer4
4
enter a float value5.6
5.6
5.0
7.0
True
False
enter stringprabhas
prabhas

In [34]:
#c)
a=10;
print(type(a))
print(tuple(range(5)))
#d)
print(type(float(a)))
print(float(a))

<class 'int'>
<class 'float'>
10.0
(0, 1, 2, 3, 4)